@import "tailwindcss";

html,
body,
#root {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family:
    "Hiragino Kaku Gothic ProN",
    "Yu Gothic",
    "Meiryo",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
}
